@use 'var' as *;
@use 'font' as *;
@use 'mixin' as *;
@use 'header' as *;

// фотобаннер
.photo{
   &__banner {
      width: 100%;
      height: 60vw;
      background: url(../img/banner-02.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $black;}
      padding-top: 50px;
            @include respond($screen-10) {
            padding-top: 70px;
 }
            @include respond($screen-8) {
            padding-top: 90px;
 }
    .container{
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    .photo__text1 {
      font-family: $family700;
      font-size: calc(6px + 50 * (100vw / 1920));
      line-height: normal;
      color: $white;
      padding-top: calc(240 * (100vw / 1920));
      text-align: center;
  }
    .photo__text2 {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-right: 30px;
      padding-left: 30px;
      flex-wrap: wrap;
      font-family: $family400;
      font-size: calc(6px + 18 * (100vw / 1920));
      line-height: normal;
      color: $white;
      padding-top: 90px;
      transform:scale(1.5,1);
//             @include respond($screen-10) {
//             padding-top: 60px;
// }
//             @include respond($screen-8) {
//             padding-top: 45px;
// }
//             @include respond($screen-5) {
//             padding-top: 30px;
// }
//             @include respond($screen-4) {
//             padding-top: 20px;
// }
  }
    .photo__probel{
      width: 100%;
      height: 70px;  
  }
    .photo__text3 {
      font-family: $family400;
      font-size: calc(6px + 36 * (100vw / 1920));
      line-height: normal;
      color: $white;
      // padding-top: 90px;
      
//             @include respond($screen-10) {
//             padding-top: 60px;
// }
//             @include respond($screen-8) {
//             padding-top: 45px;
// }
//             @include respond($screen-5) {
//             padding-top: 30px;
// }
//             @include respond($screen-4) {
//             padding-top: 20px;
// }   
  }
      
  }
    .is-hidden{
      width: 0;
  }
    .is-visible{
     width: 21%;
  }
    .photo__text31{
     display: none;
     width: 0;
     overflow: hidden;
     vertical-align: top;
     text-align: left;
    }
    .photo__text32{
      display: none;
      width: 0;
      overflow: hidden;
      vertical-align: top;
      text-align: left;
    }
    .photo__text33{
      display: none;
      width: 0;
      overflow: hidden;
      vertical-align: top;
      text-align: left;
    }
    .photo__text34{
      display: none;
      width: 0;
      overflow: hidden;
      vertical-align: top;
      text-align: left;
    }
    .photo__text35{
      display: none;
      width: 0;
      overflow: hidden;
      vertical-align: top;
      text-align: left;
    }
  }
  .text-center{
    text-align: center;}
  @keyframes photo__te1 {
   0% {
      width: 0;
    }
    20% {
      width: 26%;
    }
    80% {
      width: 26%;
    }
    100% {
      width: 0;
    }
  }
  @keyframes photo__te2 {
    0% {
       width: 0;
     }
     20% {
       width: 30%;
     }
     80% {
       width: 30%;
     }
     100% {
       width: 0;
     }
   }
